body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.nav-header {
    background-color: #9867c5;
}

.navbar-dark {
    background-color: #512DA8;
}

.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

• .footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

footer address {
    font-size: 80%;
    margin: 0px;
    color: #fff;
}

.col-12.col-sm-6.col-md-6 {
    margin-top: 50px;
    margin-bottom: 100px;
}

.col-12.col-sm-12.col-md-12 {
    margin-bottom: 100px;
}

.form {
    width: 68%;
}

input[type="radio"] {
    margin-left: 25px;
}

.form-group {
    margin-top: 20px;
}